{% extends 'base.html' %}
{% load static %}

{% block title %}
    All news
{% endblock %}

{% block content %}
    <div>
        <h1 class="text-info mt-3 text-center">Yangilikalr bizda</h1>
         <div class="mb-5 mt-5">
                <div class="d-flex mb-5 gap-5">
                    <div>
                        <h5 style="width: 500px" class="card-title mt-5 text-center">{{ news.news_title }}</h5>
                        <p style="width: 500px" class="card-text mt-5 text-center">{{ news.news_description }}</p>
                    </div>
                    <div style="width: 600px; height: 400px">
                        <img width="400" height="400" src="{% static news.news_image %}" class="card-img-top" alt="Images">
                    </div>
                </div>
             <div class="card-body">
                    <p class="card-text">{{ news.content }}</p>
                    <p class="card-text">malumot <span class="text-info">{{ news.pub_date }}</span> vaqtda qo'shildi</p>
                    <p class="card-text"><span class="text-success">{{ news.category }}</span> yangiliklari</p>
                    <p class="card-text">bu malumotni <span class="text-danger">{{ news.author }}</span> nomli foydalanuvchi qo'shdi</p>
                    <a style="width: 1300px" href="{% url 'list_news' %}" class="btn btn-info mt-3 text-white">Cancel</a>
                </div>
            </div>
    </div>
{% endblock %}